<app-navbar></app-navbar>
<p>
  <app-flowprogress></app-flowprogress>
</p>
<mat-card class="dashboard-card-content">
  <div style="width: 80%; overflow: auto; height: 500px; margin-left: 10%;margin-right: 10%; padding: 10px;"
    *ngIf="fetchedHtml" [innerHTML]="fetchedHtml"></div>
  <mat-card class="actions">
    <button class="button" mat-raised-button (click)="updateConsent(true)">Accept</button>
    <button class="button" mat-raised-button (click)="updateConsent(false)">Decline</button>
  </mat-card>

  <mat-card *ngIf="consentResult">
    <p>{{consentResult}}</p>
  </mat-card>
</mat-card>